
<% provide(:title, 'My Listings') %>
<h1>My Listings</h1>

<ul class="houses">
  <% @houses.each do |house| %>
    <li>
      House id:
      <%= link_to house.id, house %>
    </li>
  <% end %>
</ul>
